/* "Last modified" 텍스트 스타일 */




/* "Edit page" 링크 스타일 (버튼 모양)*/
.sub-title__edit-info .sub-title__editing-link {
    display: flex;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;


}



.sub-title.sub-title--related-h1 .sub-title__edit-info {
 position: fixed;
 flex-direction: column;
 display: flex;
 align-items: left;
  right: 14vw;
    top: 10vh;
}


.sub-title__edit-info .sub-title__editing-link:hover {
    background-color: #ffffff;
    color:#000000;
 }

/* 날짜 */
.sub-title__edit-info  {
   font-size:8px;
}

/*에디트 버튼 */
.sub-title__editing-link {
    display:fixed;
    padding: 3px;
    background-color: #007bff;
    border-radius: 8px;
   font-size:3em;
   text-align:center;
   color: #ffffff;
}

.app__article { /* 또는 적절한 상위 요소 */
    padding-bottom: 80px; /* 버튼 높이 + 여유 공간 */
}


